body {
  background-color: #8d8ffe;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

.App {
  background-color: #e0dfff ;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
.crossed {
  text-decoration: line-through 2px red;
  background-color: #c6c7f6;
}

ul,li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.add {
  margin-top: 5px;
  background-color: #83DF56;
}

.delete {
  margin-bottom: 5px;
  background-color: #DF6E56;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Lato', sans-serif;
}

img {
  border-radius: 50%;
}